.download-button {
  background-color: #383c44;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: calc(10px + 1vmin);
  font-family: "Open Sans", sans-serif;
  color: black;
  margin: 1rem;
  box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.download-button:hover {
  background-color: #61dafb;
  transition: 0.5s;
}


.navbar {
  background-color: #202530;
  width: 100%;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* padding: 0.2rem; */
  font-family: "Poppins", sans-serif;
}

.nav-item {
  font-family: "Open Sans", sans-serif;
  color: white;
  padding: 0.5rem;
  justify-content: center;
  align-content: center;
  font-size: calc(5px + 1vmin);
}

.nav-item:hover {
  background-color: #383c44;
  border-radius: 0.5rem;
  transition: 0.5s;
}

.nav-logo {
  min-height: 3vh;
  height: calc(10px + 4vmin);
  padding: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  max-height: 100vh;
  /* border-radius: 5%; */
}

/* ul {
  text-align: center;
  list-style-position: inside;
} */

.prof-pic {
  /* padding-top: 10rem; */
  /* max-width: 100%; */
  /* height: auto; */
  padding: 1rem;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
}

.code-pic {
  max-width: 90%;
  height: auto;
  align-items: right;
  justify-content: right;
  justify-items: right;
  justify-self: right;
  /* padding-left: 10rem; */
  padding-top: 10rem;
}

.pic {
  width: 80%;
  box-shadow: 0 0 0.5rem 0.75rem rgba(0, 0, 0, 0.2);
  border-radius: 5%;
}

.intro {
  font-size: calc(20px + 2vmin);
  font-family: "Poppins", sans-serif;
  padding: 15rem;
}

.section-header {
  font-size: calc(10px + 2vmin);
  font-family: "Open Sans", sans-serif;
  /* padding: 1rem; */
  /* padding-top: 5rem; */
  /* width: 50%; */
}

.section-text {
  font-size: calc(10px + 1vmin);
  font-family: "Open Sans", sans-serif;
  padding: 1rem;
  text-align: left;
  /* width: 50%; */
}


/* 
.right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
} */

.text {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.about {
  display: grid;
  padding-top: 5rem;
  grid-template-columns: repeat(2, 50vw);
}

.projects {
  display: grid;
  width: 100%;
  padding-top: 5rem;
  padding: 5rem;
  grid-template-columns: repeat(2, 50vw);
}

.languages {
  width: 100%;
  text-align: center;
  padding: 5rem;
  font-size: calc(10px + 1vmin);
  font-family: "Open Sans", sans-serif;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .about {
    display: grid;
    padding-top: 5rem;
    grid-template-columns: repeat(auto-fill, 300px);
  }

  .projects {
    display: grid;
    width: 100%;
    padding-top: 5rem;
    padding: 5rem;
    grid-template-columns: repeat(auto-fill, 300px);
  }
}

.picture-grid {
  width: 100%;
  padding: 1rem;
  /* padding-top: 5rem; */
  display: grid;
  justify-items: center;
  align-items: center;
  grid-gap: 10px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 400px)
}

.icon-grid {
  width: 60%;
  border: none;
  border-collapse: none;
  text-align: center;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  align-items: center;
  padding-top: 2rem;
  grid-gap: 10px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 200px);
}

.card {
  background-color: #181c24;
  width: 150px;
  color: black;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.1);
  font-family: "Open Sans", sans-serif;
}

.card:hover {
  background-color: #383c44;
  transition: 0.5s;
}

.icon-table {
  width: 50%;
  border: none;
  border-collapse: collapse;
  text-align: center;
  margin: 0 auto;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #080c14;
  min-height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.footer-icon {
  padding-top: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: inherit;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.App-link {
  color: #61dafb;
}
